<ion-content [fullscreen]="true">
  <div class="full centered">

    <p>Welcome, <b>{{ userInfo.username }}</b></p>
  </div>

  <div class="full centered">
    <ion-button expand="half" (click)="borrow()">Borrow</ion-button>
    <ion-button expand="half" (click)="lend()">Lend</ion-button>
  </div>
  <br>
  <br>

  <div class="search-container full centered">
    <input class="search-input" type="text" [(ngModel)]="searchQuery" placeholder="Search...">
    <button class="search-button" (click)="searchItems()">Search</button>
  </div>

  <div *ngIf="error" class="error-message">{{ error }}</div>

  <div *ngIf="searchResults.length > 0" class="search-results full centered">
    <h2>Search Results:</h2>
    <div class="card-container">
      <ion-card *ngFor="let result of searchResults" class="search-result-card" (click)="borrowItems(result.id)" [style.background-color]="getRandomColor()">
        <ion-card-header>
          <b>{{ result.name }}</b>
        </ion-card-header>
        <ion-card-content>
          {{ result.description }}
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  
  <div class="full centered">
    <ng-container *ngIf="latestItems && latestItems.length > 0; else emptyList">
      <h2>Latest Items</h2>
      <div class="card-container">
        <ion-card *ngFor="let item of latestItems; let i = index" (click)="borrowItems(item.id)" [style.background-color]="getRandomColor()">
          <ion-card-header>
            <b>{{ item.name }}</b>
          </ion-card-header>
          <ion-card-content>
            {{ item.description }}
          </ion-card-content>
        </ion-card>
      </div>
    </ng-container>
  
    <ng-container *ngIf="recommendedItems.length > 0">
      <h2>Recommended Items:</h2>
      <div class="card-container">
        <ion-card *ngFor="let item of recommendedItems" (click)="borrowItems(item.id)" [style.background-color]="getRandomColor()">
          <ion-card-header>
            <b>{{ item.name }}</b>
          </ion-card-header>
          <ion-card-content>
            {{ item.description }}
          </ion-card-content>
        </ion-card>
      </div>
    </ng-container>
  </div>
  
</ion-content>