<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ng-container *ngIf="itemCategories && itemCategories.length > 0; else emptyList">
    <ion-list inset lines="full">
      <ion-item *ngFor="let category of itemCategories; let i = index" (click)="borrow(category.id)">
        {{ category.name }}
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-template #emptyList>
    <div class="empty-message">
      No categories available.
    </div>
  </ng-template>
</ion-content>
