<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>chats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="chat-list">
    <div class="chat-item" *ngFor="let chat of chats" (click)="messages(chat.other_user_id)">
      <div class="avatar"></div>
      <div class="details">
        <div class="username">{{ chat.other_user_name }}</div>
        <div class="latest-message">{{ chat.last_message }}</div>
      </div>
    </div>
  </div>
</ion-content>
