<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Displaying Items </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   
  
  <ng-container *ngIf="items && items.length > 0; else emptyList">
    <div class="card-container">
      <ion-card *ngFor="let item of items; let i = index" color="medium">
        <ion-card-header>
          <ion-card-title>{{ item.name }}</ion-card-title>
          <ion-card-subtitle>{{ item.category_name }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div class="card-content">
            <p>{{ item.description }}</p>
          <hr>
            <p>Available: {{ item.available ? 'Yes' : 'No' }}</p>
            <p>Loan Fee: ${{ item.loan_fee }}</p>
            <p>Penalty: ${{ item.penalty }}</p>
          </div>
          <ion-button fill="solid" expand="full"  (click)="borrow(item.id)">Borrow Now</ion-button>
        </ion-card-content>
      </ion-card>
    </div>
  </ng-container>

  <ng-template #emptyList>
    <div class="empty-message">
      No items available in the selected category
    </div>
  </ng-template>
</ion-content>
