<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Displaying Items In category: {{ category }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   
  <ng-container *ngIf="items && items.length > 0; else emptyList">
    <ion-list inset lines="full">
      <ion-item *ngFor="let item of items; let i = index" (click)="borrow(item.slug)">
        {{ item.name }}
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-template #emptyList>
    <div class="empty-message">
      No items available in category: {{ category }}
    </div>
  </ng-template>
</ion-content>
