<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" >My Items on Lend</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ng-container *ngIf="items && items.length > 0; else emptyList">
    <div class="card-container">
      <ion-card *ngFor="let item of items; let i = index" color="medium">
        <ion-card-header>
          <ion-card-title>{{ item.name }}</ion-card-title>
          <ion-card-subtitle>{{ item.category_name }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div class="card-content">
            <p>{{ item.description }}</p>
          <hr>
            <p>Available: {{ item.available ? 'Yes' : 'No' }}</p>
            <p>Loan Fee: ${{ item.loan_fee }}</p>
            <p>Penalty: ${{ item.penalty }}</p>
          </div>
          <br>
          <ion-button fill="solid"  color="warning" (click)="edit(item.id,item.name)">Edit <ion-icon slot="end" name="pencil"></ion-icon> </ion-button>
          <ion-button fill="solid"  color="danger" (click)="edit(item.id,item.name)">delete <ion-icon slot="end" name="trash"></ion-icon> </ion-button>
          <ion-button fill="solid"   (click)="getTheRequests(item.id,item.name)">Requests <ion-icon slot="end" name="list"></ion-icon> </ion-button>
        </ion-card-content>
      </ion-card>
    </div>
  </ng-container>

  <ng-template #emptyList>
    <div class="empty-message">
      No items available 
    </div>
  </ng-template>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/lend-item">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
